.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffb3;
  color: #9d77a5;
}

.header {
  background-color: #9d77a5;
  padding: 10px 40px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}

.header > .logo-container {
  display: flex;
  align-items: center;
}

.header > .logo-container > .logo-img {
  width: 60px;
  height: 60px;
  margin-right: 15px;
}

.header > .logo-container > .logo-text {
  color:  #cccccc;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 5px;
}

.header > .logo-made-by {
  font-size: 15px;
}

.header > .logo-container > .logo-text > .logo-highlight {
  color:  #00cc00;
}

.content-container {
  width: 100%;
  height: calc(100vh - 89px);
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.active-users-panel {
  width: 300px;
  height: 100%;
  background-color: #5a2e53;
  border-right: 4px solid #cccccc;
}

.panel-title {
  margin: 10px 0 0 0;
  padding-left: 30px;
  font-weight: 600;
  font-size: 18px;
  color: #cccccc;
  border-bottom: 4px solid #cccccc;
  padding-bottom: 10px;
  align-items: center;
}

.active-user {
  padding: 10px 30px;
  border-bottom: 4px solid #cccccc;
  cursor: pointer;
  user-select: none;
}

.active-user:hover {
  background-color: #e8e9eb;
  transition: background-color 0.5s ease;
}

.active-user--selected {
  background-color: rgb(0, 0, 0);
  border-right: 5px solid #ff0000;
  font-weight: 500;
  transition: all 0.5s ease;
}

.video-chat-container {
  padding: 0 20px;
  flex: 1;
  position: relative;
}

.talk-info {
  font-weight: 500;
  font-size: 21px;
}

.remote-video {
  width: 100%;
  height: 100%;
  
}

.local-video {
  position: absolute;
  border: 6px solid #cccccc;
  bottom: 40px;
  left: 40px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 200px;
}
